html{
    height: 100%;
}
body{
    height:  100%;
    margin: 0;
    font-family: Roboto, 'Noto Sans KR', Arial, sans-serif;
    overflow-x: hidden;
    cursor: default;
}
h2{
    margin-block-start: 0.7em;
}
button{
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.arrow-button{
    content: ' ';
    display: inline-block;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
}
.arrow-left{
    transform: rotate(45deg);
}
.arrow-right{
    transform: rotate(-135deg);
}
button:hover{
    background-color: #eee;
}
#header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    position: sticky;
    width: 100%;
    height: 5%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    min-height: 40px;
}
.header__logo{
    width: 14em;
    height: 100%;
}
.header__button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9rem;
}
.header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
}
.go-today{
    border: 1px solid #ddd;
    width: 3rem;
}
.go-prev{
    border-radius: 20px;
    padding-left: .6rem;
}
.go-next{
    border-radius: 20px;
    padding-right: .6rem;
}
.header__button-icon{
    width: 8px;
    height: 8px;
}
#main{
    display: flex;
    height: 93%
}
.navigation{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    border-right: 1px solid #ddd;    
    width: 16em;
    min-height: 40px;
}
.navigation__calendar{
    width: 100%;
    margin: 10px;
}
.calendar__header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.calendar__button-icon{
    width: 5px;
    height: 5px;
}
.main-content__container{
    width: 100%;
}
.week{
    display: flex;
    width: 100%;
}
.date{
    width: 100%;
    text-align: center;
    color: #aaa;
}

@media screen and (max-width: 600px) {
    .header__logo{
        display: none;
    }
    .navigation{
        display: none;
        width: 0px;
    }
}
/*
@media (prefers-color-scheme: dark){
    body{
        background-color: #202b38;
        color: #fff;
    }
    button{
        color: #fff;
    }
    button:hover{
        background-color: #666;
    }
    .header__button-icon{
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}